<article class="arm_product">
    <div class="arm_product_image">
        <a href="#">
            <img src="storaged/uploads/2023/06/relogio.jpg" alt="Relógio Prata De Quartzo Com">
        </a>

        <span class="arm_product_image_discount">-12%</span>
    </div>

    <div class="arm_product_info">
        <div class="arm_product_info_actions">
            <a href="#"><i class="fa-regular fa-heart"></i></a>
            <a href="#"><i class="fa-regular fa-eye"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <header class="arm_product_info_title">
            <h2>
                <a href="#">Relógio Prata De Quartzo Com</a>
            </h2>
        </header>

        <div class="arm_product_info_rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <span class="rating_count">(2)</span>
        </div>

        <div class="arm_product_info_price">
            <p class="arm_product_info_price_currentprice">R$ 220,00</p>
            <p class="arm_product_info_price_actualprice">R$ 250,00</p>
        </div>
    </div>
</article>