/* BOOT CONFIG */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    vertical-align: baseline;

    @include setBrowserPrefixes(box-sizing, border-box);
}

// RESET ELEMENTS
@import "reset";

// THEME CONFIG
@import "template/header";
@import "template/footer";

// SNIPPETS CONFIG
@import "template/product";
@import "template/category1";

// Home
@import "template/home/headline";
@import "template/home/category";
@import "template/home/releases";
@import "template/home/category-2";
@import "template/home/shop-info";