/* RESET ELEMENTS */
html {
    scroll-behavior: smooth;
}

body {
    color: $color-gray;
    font-family: $font-poppins;
    font-size: $font-size-default;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-jost;
    color: $color-jet;
}

a {
    color: inherit;
    text-decoration: none;
    @include transition;
}

li {
    list-style: none;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    @include borderRadius(3px);
    width: 100%;
    border: 1px solid $color-platinum;
    padding: 12px;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: $color-platinum;
    font-style: italic;
}

button {
    font-family: inherit;
    font-size: inherit;
    @include borderRadius(3px);
    padding: 12px 24px;
    background-color: $color-raw-umber;
    color: $color-white;
    border: none;
    cursor: pointer;
    @include transition;
}

img {
    display: block;
    width: 100%;
}

i.fa-solid, i.fa-regular, i.fa-brands {
    vertical-align: middle;
}

@include theme() {
    &_titlearea {
        @include flex;
        overflow: hidden;

        &_title {
            font-family: $font-jost;
            font-weight: 500;
            font-size: $font-size-default;
            text-transform: uppercase;
            @include relative;

            &::before {
                content: "";
                border-bottom: 1px solid $color-silver;
                @include absolute(50%, unset);
                right: calc(100% + 10px);
                width: 100vw;
            }

            &::after {
                content: "";
                border-bottom: 1px solid $color-silver;
                @include absolute(50%, calc(100% + 10px));
                width: 100vw;
            }
        }
    }
}