// LAYOUT AND BREAKPOINTS
$layout-mobile: 375px;
$layout-desktop: 1440px;

$breakpoint-mobile: 480px;
$breakpoint-mobile-landscape: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop-sd: 1024px;
$breakpoint-desktop-hd1: 1366px;
$breakpoint-desktop-hd2: $layout-desktop;
$breakpoint-desktop-fhd: 1920px;

// COLORS
$color-jet: #282A2C;
$color-gray: #7A7A7A;
$color-dark-pastel-green: #38C438;
$color-raw-umber: #9D6335;
$color-bistre: #493328;
$color-beaver: #B5856C;
$color-platinum: #DDD;
$color-white: #FFF;

$color-black-alpha-6: #00000099;
$color-black-alpha-1: #0000001A;

// TIPOGRAPHY
$font-jost: 'Jost', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-agraham: "Agraham", cursive;

$font-path: "../../fonts";

$font-size-default: 1rem;
$font-size-small: 0.8rem;
$font-size-big: 1.4rem;

// CONTAINER MAX WIDTH
$container-max-width-default: 1140px;
$container-padding-y: 0;
$container-padding-x: 20px;

// TRANSITIONS AND ANIMATIONS
$transition-duration-default: 0.3s;

// BROWSER CORES
$browser-cores-default: ("moz", "webkit");