// BREAKPOINTS
$breakpoint-extra-small: 375px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1024px;
$breakpoint-xx-large: 1200px;

// COLORS
$color-primary: #282A2C;
$color-secondary: #282A2C;
$color-secondary: #282A2C;
$color-text: #7A7A7A;
$color-accent: #38C43B;

$color-brown: #9D6335;
$color-dark-brown: #4F3A2E;
$color-light-brown: #B8896C;
$color-ambar: #FEC42D;
$color-light-green: #E8F9EF;
$color-light-gray: #DDD;
$color-lighter-gray: #F6F6F6;
$color-white: #FFF;

$color-black-overlay: rgba(0, 0, 0, .6);
$color-brown-overlay: #B8896C4D;

// TIPOGRAPHY
$font-jost: "Jost", system-ui;
$font-poppins: "Poppins", system-ui;
$font-ephesis: "Ephesis", cursive;
$font-size-default: 1rem;

// CONTAINER WIDTH
$container-width: 1140px;
$side-clearance: 20px;
$section-clearance: 80px;

// TRANSITIONS AND ANIMATIONS
$transition-duration-default: 0.3s;

// BROWSER PREFIXES
$browser-prefixes-default: ("moz", "webkit");

// IMAGES
$image-path: "../../../assets/images";