/* HEADER */
@include theme() {
    &_header {
        @include fullWidthContainer;

        &_freight {
            @include fullWidthContainer;
            padding: 10px 0;
            background-color: $color-raw-umber;

            &_text {
                font-family: $font-jost;
                font-size: $font-size-small;
                color: $color-white;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &_content {
            @include maxWidthContainer;
            @include flex(flex-start);
            @include relative;
            margin-top: 20px;
            gap: 20px;
            color: $color-jet;

            @include setResponsiveDesign($breakpoint-tablet) {
                justify-content: space-between;
            }

            &_search {
                @include flexBasis(calc(100% - 40px));

                @include setResponsiveDesign($breakpoint-tablet) {
                    @include flexBasis(unset);
                    order: 2;
                }

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include flexBasis(60%);
                }

                &_form {
                    @include fullWidthContainer;
                    @include flex(flex-start, center, nowrap);

                    max-width: $breakpoint-mobile-landscape;

                    @include setResponsiveDesign($breakpoint-tablet) {
                        max-width: 100%;
                    }

                    input {
                        display: block;
                        @include flexBasis(calc(100% - 50px));
                        @include borderRadius(3px 0 0 3px);
                        border-right: none;
                    }

                    button {
                        display: block;
                        @include flexBasis(50px);
                        @include borderRadius(0 3px 3px 0);
                        @include relative;
                        padding: 12px 0;

                        &::before {
                            content: "";
                            @include absolute(50%, -4px);
                            transform: translateY(-50%) rotate(45deg);
                            width: 8px;
                            height: 8px;
                            background-color: $color-raw-umber;
                        }
                    }
                }
            }

            &_nav {
                @include flexBasis(40px, 20px);

                @include setResponsiveDesign($breakpoint-tablet) {
                    @include flexBasis(unset);
                    order: 4;
                }

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include flex1;
                    padding: 10px 0;
                }

                &_icon {
                    font-size: $font-size-big;
                    cursor: pointer;

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        display: none;
                    }
                }

                &_lightbox {
                    @include fixedFull(0, 0, true);
                    background-color: $color-black-alpha-6;
                    cursor: pointer;
                    display: none;

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        display: block;
                        position: static;
                        background: none;
                    }

                    &_menuarea {
                        @include fixedFull(0, 0, true);
                        width: 300px;
                        background-color: $color-white;
                        text-align: right;
                        padding: 40px;
                        cursor: default;
                        transform: translateX(-100%);
                        @include transition;

                        @include setResponsiveDesign($breakpoint-desktop-sd) {
                            position: static;
                            transform: none;
                            width: 100%;
                            padding: 0;
                            text-align: left;
                        }

                        &_closeicon {
                            font-size: $font-size-big;
                            margin-bottom: 20px;
                            border: 1px solid $color-jet;
                            padding: 5px;
                            @include borderRadius(3px);
                            cursor: pointer;

                            @include setResponsiveDesign($breakpoint-desktop-sd) {
                                display: none;
                            }
                        }

                        a {
                            &:hover {
                                color: $color-raw-umber;
                            }
                        }

                        &_menu {
                            @include flex(center, flex-end);
                            flex-direction: column;
                            gap: 20px;

                            @include setResponsiveDesign($breakpoint-desktop-sd) {
                                align-items: center;
                                flex-direction: row;
                                gap: 30px;
                            }

                            &_item {
                                @include relative;

                                &.active {
                                    i {
                                        transform: rotate(180deg);
                                    }
                                }

                                a {
                                    font-weight: 500;

                                    i {
                                        @include transition;
                                    }
                                }
                            }
                        }

                        &_submenu {
                            margin-right: 40px;
                            @include flex(center, flex-end);
                            flex-direction: column;
                            gap: 20px;
                            display: none;

                            @include setResponsiveDesign($breakpoint-desktop-sd) {
                                margin: 0;
                                @include absolute(100%);
                                padding: 10px;
                                box-shadow: 0 4px 10px -2px $color-black-alpha-1;
                            }
                        }
                    }
                }
            }

            &_logo {
                @include flexBasis(80px, 20px);

                @include setResponsiveDesign($breakpoint-mobile-landscape) {
                    @include flexBasis(120px, 20px);
                }

                @include setResponsiveDesign($breakpoint-tablet) {
                    @include flexBasis(unset);
                    order: 1;
                }

                &_title {
                    display: none;
                }

                &_img {
                    img {
                        width: 80px;

                        @include setResponsiveDesign($breakpoint-mobile-landscape) {
                            width: 120px;
                        }
                    }
                }
            }

            &_accountarea {
                @include flexBasis(calc(100% - 80px), 20px);
                @include flex(flex-end);
                gap: 10px;

                @include setResponsiveDesign($breakpoint-mobile-landscape) {
                    @include flexBasis(calc(100% - 120px), 20px);
                }

                @include setResponsiveDesign($breakpoint-tablet) {
                    @include flexBasis(unset);
                    order: 3;
                }

                &_account {
                    font-size: $font-size-small;

                    i {
                        margin-right: 5px;
                        color: $color-raw-umber;
                    }
                }

                &_wishlist {
                    i {
                        color: $color-raw-umber;
                    }
                }

                &_cart {
                    @include relative;

                    &_count {
                        @include absolute(-4px, unset);
                        right: -8px;
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        background-color: $color-raw-umber;
                        color: $color-white;
                        font-size: $font-size-small;
                        font-weight: 600;
                        display: block;
                        text-align: center;
                        pointer-events: none;

                        @include rounded;
                    }
                }
            }
        }
    }
}