/* CATEGORY SECTION */
@include theme() {
    &_category {
        @include containerFluid;
        margin: 60px 0;

        &_content {
            @include container($breakpoint-mobile);

            @include setResponsiveDesign($breakpoint-tablet) {
                @include container($breakpoint-tablet);
            }

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include container;
            }

            &_titlewrapper {
                @include flex(space-between, center, nowrap);
                margin-bottom: 40px;

                &_title {
                    font-size: $font-size-default;

                    @include setResponsiveDesign($breakpoint-tablet) {
                        font-size: 1.6em;
                    }
                }

                &_action {
                    font-family: $font-jost;
                    color: $color-jet;
                    font-weight: 600;
                }
            }

            &_categories {
                @include flex;
                gap: 20px;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    gap: 30px;
                }

                article {
                    @include flex2(20px);

                    @include setResponsiveDesign($breakpoint-tablet) {
                        @include flex3(20px);
                    }

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        @include flexBasis(unset);
                    }
                }
            }
        }
    }
}