/* CATEGORY SECTION */
@include theme() {
    &_category {
        @include fullWidthContainer;
        margin: 60px 0;

        &_content {
            @include maxWidthContainer($breakpoint-mobile);

            @include setResponsiveDesign($breakpoint-tablet) {
                @include maxWidthContainer($breakpoint-tablet);
            }

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include maxWidthContainer;
            }

            &_titlewrapper {
                @include flex(space-between, center, nowrap);
                margin-bottom: 40px;

                &_title {
                    font-size: $font-size-default;

                    @include setResponsiveDesign($breakpoint-tablet) {
                        font-size: 1.6em;
                    }
                }

                &_action {
                    font-family: $font-jost;
                    color: $color-jet;
                    font-weight: 600;
                }
            }

            &_categories {
                @include flex;
                gap: 20px;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    gap: 30px;
                }

                &_item {
                    @include flex2(20px);

                    @include setResponsiveDesign($breakpoint-tablet) {
                        @include flex3(20px);
                    }

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        @include flexBasis(unset);
                    }

                    &_imgwrapper {
                        img {
                            @include transition;

                            &:hover {
                                transform: scale(1.05);
                                filter: grayscale(60%);
                            }
                        }
                    }

                    &_link {
                        text-align: center;

                        a {
                            color: $color-jet;
                        }
                    }
                }
            }
        }
    }
}