/* HEADLINE */
@include theme() {
    &_headline {
        @include fullWidthContainer;
        @include backgroundImage("../../images/BANNER-2-MOBILE-2.png");
        min-height: 650px;
        margin-top: 20px;

        @include setResponsiveDesign($breakpoint-desktop-sd) {
            background-image: url("../../images/BANNER-3.png");
        }

        &_content {
            @include maxWidthContainer($breakpoint-mobile-landscape);
            padding-top: 70px;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include maxWidthContainer($container-max-width-default);
                @include flex(center, flex-start);
                flex-direction: column;
                height: 650px;
            }

            &_header {
                &_subtitle {
                    font-weight: 400;
                    text-transform: lowercase;
                    color: $color-bistre;
                }

                &_title {
                    font-family: $font-agraham;
                    font-size: calc($font-size-big * 1.6);
                    color: $color-raw-umber;

                    @include setResponsiveDesign($breakpoint-mobile) {
                        font-size: calc($font-size-big * 2);
                    }
                }
            }

            &_info {
                font-family: $font-jost;
                color: $color-bistre;

                p {
                    font-size: $font-size-big;
                }

                &_text {
                    text-transform: lowercase;
                }

                &_offer {
                    text-transform: uppercase;
                }
            }

            &_cta {
                margin-top: 10px;

                a {
                    padding: 8px 14px;
                    background-image: linear-gradient(to right, $color-raw-umber, $color-beaver, $color-raw-umber);
                    background-size: 200%;
                    background-position: center left;
                    font-size: $font-size-small;
                    @include borderRadius(10px);
                    color: $color-white;
                    text-transform: uppercase;
                    font-weight: 500;
                    box-shadow: 0 4px 10px -2px $color-black-alpha-1;

                    &:hover {
                        background-position: center right;
                    }
                }
            }
        }
    }
}