/* SHOPPING INFO SECTION */
@include theme() {
    &_shopinfo {
        @include fullWidthContainer;
        margin: 120px 0 60px 0;

        &_content {
            @include maxWidthContainer;
            @include flex;
            gap: 20px;

            &_item {
                @include flex1;
                text-align: center;
                padding: 20px;
                border: 1px solid $color-silver;
                @include borderRadius($radius-small);

                @include setResponsiveDesign($breakpoint-mobile-landscape) {
                    @include flex2(20px);
                }

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    @include flex4(20px);
                }

                &_img {
                    @include flex;
                    margin-bottom: 10px;

                    img {
                        width: 69px;
                    }
                }

                &_title {
                    h1 {
                        font-size: $font-size-default;
                        text-transform: uppercase;
                    }
                }

                &_info {
                    font-size: $font-size-small;
                }
            }
        }
    }
}