@include theme() {
    &categories1 {
        @include containerFluid;
        margin-block: 50px;

        &__container {
            @include container;
            @include flex(space-between);
            row-gap: 40px;
        }

        &__title {
            h1 {
                font-size: 1.2em;

                @include setResponsiveDesign($breakpoint-extra-small, true) {
                    font-size: 1em;
                }
            }
        }

        &__cta {
            a {
                color: $color-primary;
                font-family: $font-jost;
                font-weight: 600;
                @include transition;

                @include setResponsiveDesign($breakpoint-extra-small, true) {
                    font-size: 0.8em;
                }

                &:hover {
                    color: $color-brown;
                }

                i {
                    margin-left: 6px;

                    @include setResponsiveDesign($breakpoint-extra-small, true) {
                        margin-left: 3px;
                    }
                }
            }
        }

        &__list {
            @include flex(space-evenly);
            gap: 40px;
            flex-direction: column;
            @include flex1;

            @include setResponsiveDesign($breakpoint-small) {
                flex-direction: row;
                column-gap: 0;
            }
        }

        &__item {
            @include setResponsiveDesign($breakpoint-small) {
                @include flex2;
            }

            @include setResponsiveDesign($breakpoint-medium) {
                @include flex3;
            }

            @include setResponsiveDesign($breakpoint-large) {
                @include flexBasis(unset);
            }

            &:hover {
                img {
                    filter: saturate(35%);
                    transform: scale(1.1);
                }
            }

            &-image {
                img {
                    width: 180px;
                    @include transition;
                    margin-inline: auto;
                    display: block;

                    @include setResponsiveDesign($breakpoint-large) {
                        width: 100px;
                    }
                }
            }

            &-title {
                h2 {
                    font-family: $font-poppins;
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
}