@include theme() {
    &categories1 {
        @include containerFluid;
        margin-block: 50px;

        &__container {
            @include container;
            @include flex(space-between);
            row-gap: 40px;
        }

        &__title {
            h1 {
                font-size: 1.2em;

                @include setResponsiveDesign($breakpoint-extra-small, true) {
                    font-size: 1em;
                }
            }
        }

        &__cta {
            a {
                color: $color-primary;
                font-family: $font-jost;
                font-weight: 600;
                @include transition;

                @include setResponsiveDesign($breakpoint-extra-small, true) {
                    font-size: 0.8em;
                }

                &:hover {
                    color: $color-brown;
                }

                i {
                    margin-left: 6px;

                    @include setResponsiveDesign($breakpoint-extra-small, true) {
                        margin-left: 3px;
                    }
                }
            }
        }

        &__list {
            @include flex(space-evenly);
            gap: 20px;
            @include flex1;
        }

        &__item {
            &:hover {
                img {
                    filter: saturate(35%);
                    transform: scale(1.1);
                }
            }

            &-image {
                img {
                    width: 100px;
                    @include transition;
                }
            }

            &-title {
                h2 {
                    font-family: $font-poppins;
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
}