@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", system-ui;
  font-size: 1rem;
  color: #7A7A7A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", system-ui;
  color: #282A2C;
}

a {
  text-decoration: none;
  color: #9D6335;
}

img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

li {
  list-style: none;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #DDD;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
input::placeholder {
  color: #DDD;
}

i.fa-regular, i.fa-solid, i.fa-brands {
  vertical-align: middle;
}

.arm-button {
  font-family: "Jost", system-ui;
  font-size: 1rem;
  color: #FFF;
  background-color: #38C43B;
  padding: 6px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* HEADER CONFIG */
.arm-header {
  width: 100%;
}
.arm-header__free-freight {
  background-color: #9D6335;
  padding-block: 6px;
}
.arm-header__free-freight p {
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Jost", system-ui;
}
.arm-header__container {
  max-width: 1140px;
  padding-inline: 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-block: 4px;
}
@media screen and (min-width: 992px) {
  .arm-header__container {
    padding-block: 20px;
  }
}
.arm-header__user {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 10px;
  font-size: 0.6em;
}
@media screen and (min-width: 992px) {
  .arm-header__user {
    font-size: 0.9em;
    order: 3;
    flex-basis: unset;
  }
}
.arm-header__user i {
  color: #9D6335;
}
.arm-header__account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.arm-header__account .account a {
  color: #282A2C;
}
.arm-header__account .account i {
  margin-right: 8px;
}
.arm-header__account .whishlist i {
  font-size: 1.2em;
}
.arm-header__cart a {
  display: inline-block;
  font-size: 1.6em;
  position: relative;
}
.arm-header__cart a i {
  color: #282A2C;
}
.arm-header__cart a span {
  display: block;
  font-size: 0.8rem;
  position: absolute;
  top: -3px;
  left: unset;
  right: -6px;
  width: 15px;
  height: 15px;
  background-color: #9D6335;
  color: #FFF;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: 15px;
}
.arm-header__logo img {
  max-width: 90px;
}
@media screen and (min-width: 576px) {
  .arm-header__logo img {
    max-width: 120px;
    order: 1;
  }
}
.arm-header__title {
  display: none;
}
.arm-header__navigation {
  position: relative;
}
@media screen and (min-width: 992px) {
  .arm-header__navigation {
    order: 4;
    flex-basis: 100%;
  }
}
.arm-header__menu-icon {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .arm-header__menu-icon {
    display: none;
  }
}
.arm-header__menu-icon i {
  font-size: 26px;
  color: #282A2C;
}
.arm-header__menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: none;
}
@media screen and (min-width: 992px) {
  .arm-header__menu-overlay {
    display: block;
    background: none;
    position: initial;
    width: auto;
    height: auto;
  }
}
.arm-header__menu-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 300px;
  background-color: #FFF;
  padding: 40px;
  transform: translateX(-100%);
  cursor: default;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 992px) {
  .arm-header__menu-container {
    padding: 0;
    max-width: none;
    background: none;
    transform: none;
  }
}
.arm-header__menu-container.active {
  transform: none;
}
.arm-header__menu-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
}
@media screen and (min-width: 992px) {
  .arm-header__menu-wrapper {
    padding: 0;
    overflow: visible;
  }
}
.arm-header__menu-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .arm-header__menu-list {
    column-gap: 36px;
    flex-direction: row;
    align-items: center;
  }
}
.arm-header__menu-item {
  position: relative;
  text-align: right;
}
.arm-header__menu-item a {
  font-weight: 500;
  font-size: 1.05em;
  color: #282A2C;
  transition: all 0.3s ease 0s;
  display: inline-block;
  padding-block: 10px;
}
@media screen and (min-width: 992px) {
  .arm-header__menu-item a {
    padding: 0;
  }
}
.arm-header__menu-item a:hover {
  color: #9D6335;
}
.arm-header__menu-item a.open i {
  transform: rotate(180deg);
}
.arm-header__menu-item i {
  transition: all 0.3s ease 0s;
}
.arm-header__menu-close {
  position: absolute;
  top: 10px;
  left: unset;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #282A2C;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  line-height: 20px;
  color: #282A2C;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .arm-header__menu-close {
    display: none;
  }
}
.arm-header__submenu {
  margin-right: 30px;
  display: none;
}
@media screen and (min-width: 992px) {
  .arm-header__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .arm-header__submenu-item a {
    padding: 15px 30px;
    display: inline-block;
  }
}
.arm-header__search {
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .arm-header__search {
    order: 2;
    flex-basis: 50%;
  }
}
.arm-header__search form {
  width: 100%;
}
.arm-header__search .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.arm-header__search input {
  border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  flex-grow: 1;
  border-right: none;
}
.arm-header__search input::placeholder {
  font-style: italic;
}
.arm-header__search .arm-button {
  border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  position: relative;
  background-color: #9D6335;
}
.arm-header__search .arm-button::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #9D6335;
  position: absolute;
  top: 50%;
  left: -4px;
  transform: translateY(-50%) rotate(45deg);
}

/* FOOTER CONFIG */
.arm-footer {
  width: 100%;
}
.arm-footer__container {
  max-width: 1140px;
  padding-inline: 20px;
  margin-inline: auto;
}
.arm-footer__benefits {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  padding-block: 50px;
}
.arm-footer__benefit {
  flex-basis: 100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  border: 1px solid #DDD;
  text-align: center;
  max-width: 480px;
  padding-inline: 0;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .arm-footer__benefit {
    max-width: none;
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (min-width: 992px) {
  .arm-footer__benefit {
    flex-basis: calc(25% - 15px);
  }
}
.arm-footer__benefit-image {
  margin-bottom: 20px;
}
.arm-footer__benefit-title h1 {
  font-size: 1em;
  text-transform: uppercase;
}
.arm-footer__benefit-text {
  font-size: 0.8em;
}
.arm-footer__content {
  background-color: #F6F6F6;
  padding-block: 50px;
}
.arm-footer__content .arm-footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px 30px;
}
@media screen and (min-width: 1024px) {
  .arm-footer__content .arm-footer__container {
    justify-content: space-between;
  }
}
.arm-footer__items {
  flex-basis: 100%;
}
@media screen and (min-width: 576px) {
  .arm-footer__items {
    flex-basis: calc(50% - 15px);
  }
}
@media screen and (min-width: 1024px) {
  .arm-footer__items {
    flex-basis: unset;
  }
}
.arm-footer__items-title {
  margin-bottom: 20px;
}
.arm-footer__items-title h1 {
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
}
.arm-footer__items-list:not(:last-child) {
  margin-bottom: 20px;
}
.arm-footer__items-link a {
  color: #282A2C;
  line-height: 1.8;
}
.arm-footer__items-link i {
  font-size: 1.2em;
  margin-right: 10px;
  vertical-align: middle;
}
.arm-footer__payment .arm-footer__items-title {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .arm-footer__payment .arm-footer__items-title {
    text-align: start;
  }
}
.arm-footer__payment-images img {
  display: block;
  margin: auto;
  filter: saturate(0);
}
.arm-footer__payment-images img.cards {
  margin-bottom: 20px;
}
.arm-footer__payment-images img.ssl {
  width: 170px;
}
.arm-footer__social .arm-footer__items-title {
  text-align: center;
}
@media screen and (min-width: 576px) {
  .arm-footer__social .arm-footer__items-title {
    text-align: start;
  }
}
.arm-footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (min-width: 576px) {
  .arm-footer__social-list {
    justify-content: flex-start;
  }
}
.arm-footer__social-link a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #282A2C;
  color: #FFF;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.arm-footer__copyright {
  text-align: center;
  color: #FFF;
  font-family: "Jost", system-ui;
  font-size: 0.8em;
  background-color: #282A2C;
  padding-block: 10px;
}

/* HOME */
/* HERO SECTION */
.arm-hero {
  width: 100%;
  background-image: url("../../../assets/images/BANNER-2-MOBILE-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 50px;
}
@media screen and (min-width: 992px) {
  .arm-hero {
    background-image: url("../../../assets/images/BANNER-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 30px;
  }
}
.arm-hero__container {
  max-width: 1140px;
  padding-inline: 20px;
  margin-inline: auto;
  padding-block: 60px;
  min-height: 650px;
}
@media screen and (min-width: 992px) {
  .arm-hero__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.arm-hero__title h1 {
  color: #4F3A2E;
  font-weight: 400;
  text-transform: lowercase;
}
@media screen and (min-width: 576px) {
  .arm-hero__title h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) {
  .arm-hero__title h1 {
    font-size: 2.2em;
  }
}
.arm-hero__title h1 span {
  display: block;
  text-transform: initial;
  font-family: "Ephesis", cursive;
  font-size: 4.4em;
  color: #9D6335;
  line-height: 0.8;
}
@media screen and (max-width: 375px) {
  .arm-hero__title h1 span {
    font-size: 3.3em;
  }
}
.arm-hero__headline {
  font-family: "Jost", system-ui;
  text-transform: lowercase;
  font-size: 1.4em;
  color: #4F3A2E;
  margin-bottom: 20px;
}
.arm-hero__headline span {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.1em;
}
.arm-hero__cta .arm-button {
  text-transform: uppercase;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-image: linear-gradient(to right, #9D6335, #B8896C, #9D6335);
  background-size: 200%;
  background-position: left;
  transition: all 0.3s ease 0s;
}
.arm-hero__cta .arm-button:hover {
  background-position: right;
}

/* HERO CATEGORIES 1 */
.arm-categories1 {
  width: 100%;
  margin-block: 50px;
}
.arm-categories1__container {
  max-width: 1140px;
  padding-inline: 20px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
}
.arm-categories1__title h1 {
  font-size: 1.2em;
}
.arm-categories1__cta a {
  color: #282A2C;
  font-family: "Jost", system-ui;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.arm-categories1__cta a:hover {
  color: #9D6335;
}
.arm-categories1__cta a i {
  margin-left: 6px;
}
.arm-categories1__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: 100%;
}
.arm-categories1__item:hover img {
  filter: saturate(35%);
  transform: scale(1.15);
}
.arm-categories1__item-image img {
  width: 100px;
  transition: all 0.3s ease 0s;
}
.arm-categories1__item-title h2 {
  font-family: "Poppins", system-ui;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}