@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Agraham", cursive;
  src: url("../../fonts/agraham/Agraham.otf") format("opentype");
  font-weight: 600;
}
/* BOOT CONFIG */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html body {
  color: #7A7A7A;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  font-family: "Jost", sans-serif;
  color: #282A2C;
}
html body a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
html body li {
  list-style: none;
}
html body input, html body textarea, html body select {
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 100%;
  border: 1px solid #DDD;
  padding: 12px;
  outline: none;
}
html body input::placeholder, html body textarea::placeholder {
  color: #DDD;
  font-style: italic;
}
html body button {
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 12px 24px;
  background-color: #9D6335;
  color: #FFF;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
html body img {
  display: block;
  width: 100%;
}
html body i.fa-solid, html body i.fa-regular, html body i.fa-brands {
  vertical-align: middle;
}

/* HEADER */
.arm_header {
  width: 100%;
}
.arm_header_freight {
  width: 100%;
  padding: 10px 0;
  background-color: #9D6335;
}
.arm_header_freight_text {
  font-family: "Jost", sans-serif;
  font-size: 0.8rem;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
.arm_header_content {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 20px;
  gap: 20px;
  color: #282A2C;
}
@media screen and (min-width: 767px) {
  .arm_header_content {
    justify-content: space-between;
  }
}
.arm_header_content_search {
  flex-basis: calc(100% - 40px);
}
@media screen and (min-width: 767px) {
  .arm_header_content_search {
    flex-basis: unset;
    order: 2;
  }
}
@media screen and (min-width: 1023px) {
  .arm_header_content_search {
    flex-basis: 60%;
  }
}
.arm_header_content_search_form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 600px;
}
@media screen and (min-width: 767px) {
  .arm_header_content_search_form {
    max-width: 100%;
  }
}
.arm_header_content_search_form input {
  display: block;
  flex-basis: calc(100% - 50px);
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-right: none;
}
.arm_header_content_search_form button {
  display: block;
  flex-basis: 50px;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  position: relative;
  padding: 12px 0;
}
.arm_header_content_search_form button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  background-color: #9D6335;
}
.arm_header_content_nav {
  flex-basis: 20px;
}
@media screen and (min-width: 767px) {
  .arm_header_content_nav {
    flex-basis: unset;
    order: 4;
  }
}
@media screen and (min-width: 1023px) {
  .arm_header_content_nav {
    flex-basis: 100%;
    padding: 10px 0;
  }
}
.arm_header_content_nav_icon {
  font-size: 1.4rem;
  cursor: pointer;
}
@media screen and (min-width: 1023px) {
  .arm_header_content_nav_icon {
    display: none;
  }
}
.arm_header_content_nav_lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: none;
}
@media screen and (min-width: 1023px) {
  .arm_header_content_nav_lightbox {
    display: block;
    position: static;
    background: none;
  }
}
.arm_header_content_nav_lightbox_menuarea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 300px;
  background-color: #FFF;
  text-align: right;
  padding: 40px;
  cursor: default;
  transform: translateX(-100%);
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 1023px) {
  .arm_header_content_nav_lightbox_menuarea {
    position: static;
    transform: none;
    width: 100%;
    padding: 0;
    text-align: left;
  }
}
.arm_header_content_nav_lightbox_menuarea_closeicon {
  font-size: 1.4rem;
  margin-bottom: 20px;
  border: 1px solid #282A2C;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
@media screen and (min-width: 1023px) {
  .arm_header_content_nav_lightbox_menuarea_closeicon {
    display: none;
  }
}
.arm_header_content_nav_lightbox_menuarea a:hover {
  color: #9D6335;
}
.arm_header_content_nav_lightbox_menuarea_menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1023px) {
  .arm_header_content_nav_lightbox_menuarea_menu {
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }
}
.arm_header_content_nav_lightbox_menuarea_menu_item {
  position: relative;
}
.arm_header_content_nav_lightbox_menuarea_menu_item.active i {
  transform: rotate(180deg);
}
.arm_header_content_nav_lightbox_menuarea_menu_item a {
  font-weight: 500;
}
.arm_header_content_nav_lightbox_menuarea_menu_item a i {
  transition: all 0.3s ease 0s;
}
.arm_header_content_nav_lightbox_menuarea_submenu {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  display: none;
}
@media screen and (min-width: 1023px) {
  .arm_header_content_nav_lightbox_menuarea_submenu {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1019607843);
  }
}
.arm_header_content_logo {
  flex-basis: 60px;
}
@media screen and (min-width: 599px) {
  .arm_header_content_logo {
    flex-basis: 100px;
  }
}
@media screen and (min-width: 767px) {
  .arm_header_content_logo {
    flex-basis: unset;
    order: 1;
  }
}
.arm_header_content_logo_title {
  display: none;
}
.arm_header_content_logo_img img {
  width: 80px;
}
@media screen and (min-width: 599px) {
  .arm_header_content_logo_img img {
    width: 120px;
  }
}
.arm_header_content_accountarea {
  flex-basis: calc(100% - 80px - 20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 599px) {
  .arm_header_content_accountarea {
    flex-basis: calc(100% - 120px - 20px);
  }
}
@media screen and (min-width: 767px) {
  .arm_header_content_accountarea {
    flex-basis: unset;
    order: 3;
  }
}
.arm_header_content_accountarea_account {
  font-size: 0.8rem;
}
.arm_header_content_accountarea_account i {
  margin-right: 5px;
  color: #9D6335;
}
.arm_header_content_accountarea_wishlist i {
  color: #9D6335;
}
.arm_header_content_accountarea_cart {
  position: relative;
}
.arm_header_content_accountarea_cart_count {
  position: absolute;
  top: -4px;
  left: unset;
  right: -8px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: #9D6335;
  color: #FFF;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  text-align: center;
  pointer-events: none;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* HEADLINE */
.arm_headline {
  width: 100%;
  background-image: url("../../images/BANNER-2-MOBILE-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 650px;
  margin-top: 20px;
}
@media screen and (min-width: 1023px) {
  .arm_headline {
    background-image: url("../../images/BANNER-3.png");
  }
}
.arm_headline_content {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 70px;
}
@media screen and (min-width: 1023px) {
  .arm_headline_content {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    height: 650px;
  }
}
.arm_headline_content_header_subtitle {
  font-weight: 400;
  text-transform: lowercase;
  color: #493328;
}
.arm_headline_content_header_title {
  font-family: "Agraham", cursive;
  font-size: 2.24rem;
  color: #9D6335;
}
@media screen and (min-width: 479px) {
  .arm_headline_content_header_title {
    font-size: 2.8rem;
  }
}
.arm_headline_content_info {
  font-family: "Jost", sans-serif;
  color: #493328;
}
.arm_headline_content_info p {
  font-size: 1.4rem;
}
.arm_headline_content_info_text {
  text-transform: lowercase;
}
.arm_headline_content_info_offer {
  text-transform: uppercase;
}
.arm_headline_content_cta {
  margin-top: 10px;
}
.arm_headline_content_cta a {
  padding: 8px 14px;
  background-image: linear-gradient(to right, #9D6335, #B5856C, #9D6335);
  background-size: 200%;
  background-position: center left;
  font-size: 0.8rem;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1019607843);
}
.arm_headline_content_cta a:hover {
  background-position: center right;
}/*# sourceMappingURL=style.css.map */